# {{ ansible_managed }}

[Unit]
Description=Atlassian Confluence
After=syslog.target network.target

[Service]
ExecStart={{ confluence_directory }}/bin/start-confluence.sh
ExecStop={{ confluence_directory }}/bin/stop-confluence.sh
PIDFile={{ confluence_directory }}/work/catalina.pid
Type=forking
#User=confluence
#Group=confluence

[Install]
WantedBy=multi-user.target